/.github export-ignore
/.hooks export-ignore
/coverage export-ignore
/sandbox export-ignore
.gitattributes export-ignore
.gitignore export-ignore
.phpcs.cache export-ignore
compose.yml export-ignore
Dockerfile export-ignore
Makefile export-ignore
phpcs.xml export-ignore
phpstan.neon export-ignore
